AUTOAI FLOW.json
[{"id":"43fff1d4.baa82","type":"tab","label":"ML PROJECT-ai","disabled":false,"info":""},{"id":"d5a0bffe.d2cea","type":"function","z":"43fff1d4.baa82","name":"PreToken","func":"global.set(\"a\",msg.payload.a)\nglobal.set(\"b\",msg.payload.b)\nglobal.set(\"c\",msg.payload.c)\nglobal.set(\"d\",msg.payload.d)\nglobal.set(\"e\",msg.payload.e)\nglobal.set(\"f\",msg.payload.f)\nglobal.set(\"g\",msg.payload.g)\nglobal.set(\"h\",msg.payload.h)\nglobal.set(\"i\",msg.payload.i)\nglobal.set(\"j\",msg.payload.j)\nglobal.set(\"k\",msg.payload.k)\nglobal.set(\"l\",msg.payload.l)\nglobal.set(\"m\",msg.payload.m)\nglobal.set(\"n\",msg.payload.n)\nglobal.set(\"o\",msg.payload.o)\nglobal.set(\"p\",msg.payload.p)\nglobal.set(\"q\",msg.payload.q)\nglobal.set(\"r\",msg.payload.r)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"t\",msg.payload.t)\nglobal.set(\"u\",msg.payload.u)\nvar apikey=\"YOBrbCWtRLLjxIgocytv3eBVkeeG7qsSLT52BISsqcJ3\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":360,"wires":[["ffebc54d.7647f8"]]},{"id":"ffebc54d.7647f8","type":"http request","z":"43fff1d4.baa82","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":459,"y":348.9999952316284,"wires":[["574988f6.d0a748"]]},{"id":"b3195332.f15fe","type":"inject","z":"43fff1d4.baa82","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105.5,"y":273.99999809265137,"wires":[["d5a0bffe.d2cea"]]},{"id":"9f4335a7.c3c7d8","type":"debug","z":"43fff1d4.baa82","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":80,"wires":[]},{"id":"574988f6.d0a748","type":"function","z":"43fff1d4.baa82","name":"Pre Prediction","func":"var a = global.get('a')\nvar b = global.get('b')\nvar c = global.get('c')\nvar d = global.get('d')\nvar e = global.get('e')\nvar f = global.get('f')\nvar g = global.get('g')\nvar h = global.get('h')\nvar i = global.get('i')\nvar j = global.get('j')\nvar k = global.get('k')\nvar l = global.get('l')\nvar m = global.get('m')\nvar n = global.get('n')\nvar o = global.get('o')\nvar p = global.get('p')\nvar q = global.get('q')\nvar r = global.get('r')\nvar s = global.get('s')\nvar t = global.get('t')\nvar u = global.get('u')\nvar token=msg.payload.access_token\nvar instance_id=\"b9bc2cec-0d7f-4d46-bc27-c36b2a9c6e3b\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]}]}\nreturn msg;","outputs":1,"noerr":0,"x":656.0000076293945,"y":311.9999990463257,"wires":[["d6e31eb6.b7acc"]]},{"id":"2ac105c6.6cf7fa","type":"ui_form","z":"43fff1d4.baa82","name":"","label":"","group":"26d708d7.1d4848","order":0,"width":0,"height":0,"options":[{"label":"Name","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles ","value":"i","type":"number","required":true,"rows":null},{"label":" BMI ","value":"j","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"n","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":51,"y":402.9999952316284,"wires":[["d5a0bffe.d2cea"]]},{"id":"2f108ff.f084f7","type":"ui_text","z":"43fff1d4.baa82","group":"26d708d7.1d4848","order":1,"width":0,"height":0,"name":"","label":"LIFE PREDICTION IS:","format":"{{msg.payload}}","layout":"col-center","x":905,"y":183.99999523162842,"wires":[]},{"id":"8f55174f.3ac7b8","type":"function","z":"43fff1d4.baa82","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":609.6000366210938,"y":151.60000133514404,"wires":[["9f4335a7.c3c7d8","2f108ff.f084f7"]]},{"id":"d6e31eb6.b7acc","type":"http request","z":"43fff1d4.baa82","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/3e3c881c-f487-4445-b62e-f51c66fc23c2/predictions","tls":"","persist":false,"proxy":"","authType":"","x":749.5000076293945,"y":255.99999904632568,"wires":[["8f55174f.3ac7b8"]]},{"id":"26d708d7.1d4848","type":"ui_group","z":"","name":"Default","tab":"f94bd738.cced68","order":2,"disp":true,"width":"6","collapse":false},{"id":"f94bd738.cced68","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]