NOde Red FLOw Code.json
[{"id":"43fff1d4.baa82","type":"tab","label":"ML PROJECT-WITH NOTEBOOK","disabled":false,"info":""},{"id":"d5a0bffe.d2cea","type":"function","z":"43fff1d4.baa82","name":"PreToken","func":"global.set(\"ye\",msg.payload.ye)\nvar apikey=\"YOBrbCWtRLLjxIgocytv3eBVkeeG7qsSLT52BISsqcJ3\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":360,"wires":[["ffebc54d.7647f8"]]},{"id":"ffebc54d.7647f8","type":"http request","z":"43fff1d4.baa82","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":459,"y":348.9999952316284,"wires":[["574988f6.d0a748"]]},{"id":"b3195332.f15fe","type":"inject","z":"43fff1d4.baa82","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105.5,"y":273.99999809265137,"wires":[["d5a0bffe.d2cea"]]},{"id":"9f4335a7.c3c7d8","type":"debug","z":"43fff1d4.baa82","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":80,"wires":[]},{"id":"574988f6.d0a748","type":"function","z":"43fff1d4.baa82","name":"Pre Prediction","func":"var ye = global.get('ye')\nvar token=msg.payload.access_token\nvar instance_id=\"b9bc2cec-0d7f-4d46-bc27-c36b2a9c6e3b\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"Population\"], \"values\": [[ye]]}\nreturn msg;","outputs":1,"noerr":0,"x":656.0000076293945,"y":311.9999990463257,"wires":[["d6e31eb6.b7acc"]]},{"id":"2ac105c6.6cf7fa","type":"ui_form","z":"43fff1d4.baa82","name":"","label":"","group":"26d708d7.1d4848","order":0,"width":0,"height":0,"options":[{"label":"POPULATION","value":"ye","type":"number","required":true,"rows":null}],"formValue":{"ye":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":51,"y":402.9999952316284,"wires":[["d5a0bffe.d2cea"]]},{"id":"2f108ff.f084f7","type":"ui_text","z":"43fff1d4.baa82","group":"26d708d7.1d4848","order":1,"width":0,"height":0,"name":"","label":"LIFE PREDICTION IS:","format":"{{msg.payload}}","layout":"col-center","x":905,"y":183.99999523162842,"wires":[]},{"id":"8f55174f.3ac7b8","type":"function","z":"43fff1d4.baa82","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":609.6000366210938,"y":151.60000133514404,"wires":[["9f4335a7.c3c7d8","2f108ff.f084f7"]]},{"id":"d6e31eb6.b7acc","type":"http request","z":"43fff1d4.baa82","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/b9bc2cec-0d7f-4d46-bc27-c36b2a9c6e3b/deployments/56b88adb-0cc4-4caf-8340-aea3509f77f5/online","tls":"","persist":false,"proxy":"","authType":"","x":749.5000076293945,"y":255.99999904632568,"wires":[["8f55174f.3ac7b8"]]},{"id":"26d708d7.1d4848","type":"ui_group","z":"","name":"Default","tab":"f94bd738.cced68","order":1,"disp":true,"width":"6","collapse":false},{"id":"f94bd738.cced68","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]